* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto",Arial !important;
}

body {
  background: url(./assets/file-20180820-30593-1nxanpj.avif) no-repeat;
  background-size: 100% ;
}
